<header>
    <div class="row">
        
        <div class="col-md-12 col-nav">
  
            <nav class="navbar navbar-light bg-lignt BurgerMenu ">

                <div class="col-md-2">
                    <img src="../../../assets/final.png" class="LogoDiv" id="LogoDiv"  [routerLink]="['']" >
                </div>

                <div class="col-md-6"> 
                    <div class="LogoName" id="LogoName">
                        <h1 class="CompanyName"> Kyrmina </h1>
                        <h1 class="FieldName"> Rubber&Plastic </h1>
                    </div>
               </div>

                <div class="col-md-2 minmarginTop" style="padding-right: 0;">
                    <!-- <button class="quotebtn"> Contact Us</button> -->
                </div>

                <div class="col-md-1 px-1 minmarginTop" id="minmarginTop">
                    <div class="select">
                        <select name="Langselect" id="Langselect">
                          <option selected value="1">En</option>
                          <option value="2">Ar</option>
                        </select>
                      </div>
                </div>

                <div class="col-md-1">
                    <div class="menu">
                      <button class="nav-tgl" id="nav-tgl" type="button" aria-label="toggle menu" >
                      <span aria-hidden="true"></span>
                    </button>

                      <div id="myNav" class="overlay">
                    
                          <div class="overlay-content">
                            <div class="row MenuRow">
                              <div class="RouterLinks">
                                <a class="listItem " routerLink="/Home" >Home</a>
                                <a class="listItem " routerLink="/About" >About</a>
                                <a class="listItem " routerLink="/Product" >Products</a>
                                <a class="listItem " routerLink="/Contact" >Contact Us</a>
                              </div>
                            </div>
                            
                          </div>
                      </div>
                    </div>
                </div>
            </nav> 
        </div>
    </div>
    

   

</header>
