<div class="about">

     <div class="videoPart " id="video">
        <div class="overlay"></div>
        <video  autoplay="autoplay" loop="loop" [muted]="'muted'">
            <source  src="../../../assets/aboutVideo.mp4" type="video/mp4">
        </video>

          <div class="wrapper">
            <p class="eyebrow caps medium-text">About Us</p>
            <div class="oHidden">
            <h1>Kyrmina<br>
            For Rubber & Plastic.</h1>
            </div>
            <p>Learn how innovative teams like yours leverage design to increase revenue, position products, and grow market share.</p>
            <a href="About#Who" class="scrollComp"><span></span>Scroll</a>
            <!-- <a  href="#Who" class="white arrow-down-btn"><svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" viewBox="0 0 378 378">
            <path d="M189 23.1c44.3 0 86 17.3 117.3 48.6 31.3 31.3 48.6 73 48.6 117.3 0 44.3-17.3 86-48.6 117.3 -31.3 31.3-73 48.6-117.3 48.6s-86-17.3-117.3-48.6C40.4 275 23.1 233.3 23.1 189c0-44.3 17.3-86 48.6-117.3C103 40.4 144.7 23.1 189 23.1M189 0C84.6 0 0 84.6 0 189c0 104.4 84.6 189 189 189s189-84.6 189-189C378 84.6 293.4 0 189 0L189 0z"></path>
            <polygon points="192.2 256.6 95.3 159.7 111.6 143.4 192.2 223.9 272.7 143.4 289 159.7 "></polygon>
        </svg></a> -->
          </div>

     </div>

     <section class="WhoPart " id="Who">
         <h1 class="WhoTxt">who we are</h1>
         <p class="WhoDes">
            In 2015 zijn we met Nerds & Company de wereld ingegaan.
             Voor jou willen we de mooiste, nieuwste, gaafste, 
             slimste software, campagnes, sites en apps ontwerpen en
              ontwikkelen. Nerds willen we de beste werkplek bieden 
              die zij zich kunnen wensen. En Company? Die maakt het
               mogelijk door de Nerds te ontzorgen en samen met jou
                de mogelijkheden op digitaal gebied te verkennen.
                 Techniek en innovatie combineren met creativiteit
                  en jou zo klaarstomen voor de toekomst. 
                  Samen met onze blije Nerds. Dat is onze missie.
         </p>
         <a href="About#what" class="scrollComp"><span></span>Scroll</a>
     </section>
    <div class="WhatPart" id="what">
        <h1 class="WhatTxt">what we do</h1>
        <div class="row">
            <div class="col-sm-7">
                <p class="WhatDes">
                    Wij hebben de digitale expertise in huis om concepten
                     te creëren of sterker te maken waaronder:
                </p>
            </div>
            <div class="col-sm-5">
                <div class="productlist">
                    <ul>
                        <li>Art Direction</li>
                        <li>Project Management</li>
                        <li>User Experience Design</li>
                        <li>User Interface Design</li>
                        <li>Front-end Development</li>
                        <li>Back-end Development</li>
                        <li>Creative Development</li>
                    </ul>
                    
                </div>
            </div>
        </div>
        
   </div>

</div>


<!-- <app-loadingscreen> </app-loadingscreen> -->
<app-footer [footerPostion]="1"></app-footer>