<div class="about">

     <div class="videoPart " id="video">
        <div class="overlay"></div>
        <video  autoplay="autoplay" loop="loop" [muted]="'muted'">
            <source  src="../../../assets/aboutVideo.mp4" type="video/mp4">
        </video>

          <div class="wrapper">
            <p class="eyebrow caps medium-text">{{'ABOUT.ABOUT' | translate}}</p>
            <div class="oHidden">
            <h1>{{'ABOUT.KYRMINA' | translate}}<br>
                {{'ABOUT.TITLE' | translate}}</h1>
            </div>
            <p> {{'ABOUT.ABOUTDES' | translate}} .</p>
            <a href="About#Who" class="scrollComp"><span></span>{{'ABOUT.SCROLL' | translate}}</a>
            
          </div>

     </div>

     <section class="WhoPart " id="Who">
         <h1 class="WhoTxt">{{'ABOUT.WHOTITLE' | translate}}</h1>
         <p class="WhoDes">
            {{WhoDes}}
         </p>
         <a href="About#what" class="scrollComp"><span></span>{{'ABOUT.SCROLL' | translate}}</a>
     </section>
    <div class="WhatPart" id="what">
        <h1 class="WhatTxt">{{'ABOUT.WHATTITLE' | translate}}</h1>
        <div class="row">
            <div class="col-sm-7">
                <p class="WhatDes">
                    {{WhatDes}}
                </p>
            </div>
            <div class="col-sm-5">
                <div class="productlist">
                    <ul>
                        <li *ngFor="let Item of whatList"> {{Item}} </li>
                    </ul>
                    
                </div>
            </div>
        </div>
        
   </div>

</div>


<!-- <app-loadingscreen> </app-loadingscreen> -->
<app-footer [footerPostion]="1"></app-footer>