<div class="about">

     <section class="videoPart " id="video">
        <div class="overlay"></div>
        <video  autoplay="autoplay" loop="loop" [muted]="'muted'">
            <source  src="../../../assets/vidOne.mp4" type="video/mp4">
        </video>

          <div class="wrapper">
            <p class="eyebrow caps medium-text">{{'ABOUT.ABOUT' | translate}}</p>
            <div class="oHidden">
            <h1>{{'ABOUT.KYRMINA' | translate}}<br>
                {{'ABOUT.TITLE' | translate}}</h1>
            </div>
            <p> {{'ABOUT.ABOUTDES' | translate}} .</p>
            <a  (click)="scrollFunc()" class="scrollComp"><span></span>{{'ABOUT.SCROLL' | translate}}</a>

          </div>

     </section>

     <section id="Who">
        <div class="bg-dark-05">
            <div class="container">
            <div class="nk-gap-4"></div>
            <div class="row">
            <div class="col-lg-3 offset-lg-1">
            <div class="text-gray QuesText textJust" >{{'ABOUT.WHOTITLE' | translate}}</div>
            </div>
            <div class="col-lg-7 AnsText">
            <h2 class="whiteColor lh-35 textJust" *ngIf="changelngServ.local_lenguage == 'ar'">  {{WhoDes}} </h2>
            <h2 class="whiteColor lh-35 textJust" *ngIf="changelngServ.local_lenguage == 'en'">  {{whoDesEn}} </h2>
            </div>
            </div>
            <div class="nk-gap-4"></div>
            </div>
            </div>
     </section>

     <section>
        <div class="bg-dark-04">
            <div class="container">
            <div class="nk-gap-4"></div>
                <div class="row">
                <div class="col-lg-3 offset-lg-1">
                <div class="text-gray QuesText textJust">{{'ABOUT.WHATTITLE' | translate}}</div>
                </div>
                <div class="col-lg-7 AnsText">
                <h2 class="whiteColor textJust" *ngIf="changelngServ.local_lenguage == 'ar'">{{WhatDes}}</h2>
                <h2 class="whiteColor textJust" *ngIf="changelngServ.local_lenguage == 'en'">{{WhatDesEn}}</h2>
                <ul *ngIf="changelngServ.local_lenguage == 'ar'">
                    <li class="whiteColor listText textJust" *ngFor="let Item of whatList"> {{Item}} </li>
                </ul>

                <ul *ngIf="changelngServ.local_lenguage == 'en'">
                    <li class="whiteColor listText textJust" *ngFor="let Item of whatListEn"> {{Item}} </li>
                </ul>
                </div>
                </div>
            <div class="nk-gap-4"></div>
            </div>
        </div>

     </section>


</div>


<!-- <app-loadingscreen> </app-loadingscreen> -->
<app-footer [footerPostion]="1"></app-footer>


<!--
    <section class="WhoPart " id="Who" #Who>
         <h1 class="WhoTxt">{{'ABOUT.WHOTITLE' | translate}}</h1>
         <p class="WhoDes">
            {{WhoDes}}
         </p>
         <a href="About#what" class="scrollComp"><span></span>{{'ABOUT.SCROLL' | translate}}</a>
     </section>


      <section class="WhatPart" id="what">
        <h1 class="WhatTxt">{{'ABOUT.WHATTITLE' | translate}}</h1>
        <div class="row">
            <div class="col-sm-7">
                <p class="WhatDes">
                    {{WhatDes}}
                </p>
            </div>
            <div class="col-sm-5">
                <div class="productlist">
                    <ul>
                        <li *ngFor="let Item of whatList"> {{Item}} </li>
                    </ul>

                </div>
            </div>
        </div>

   </section>

 -->
