<div class="contact">
  <div class="imgPart " id="video">
  <div class="overlay"></div>
  <img src="../../../assets/wallpaperflare.com_wallpaper (1).jpg" alt="">

    <div class="wrapper">
      <p class="eyebrow caps medium-text">Contact</p>
      <div class="oHidden">
      <h1>Welcome<br>
         to KYRMINA .</h1>
      </div>
<!--       <p>Learn how innovative teams like yours leverage design to increase revenue, position products, and grow market share.</p> -->
      <a href="Contact#formSection" class="scrollComp"><span></span>Scroll</a>

    </div>

  </div>

  <section class="formSec " id="formSection">
    <div class="row">
        <div class="col-md-6 textPart">
             <h1>Get in touch </h1>
             <p class="msgTxt"> If you have questions or just want to get in touch ,
                 use the from. We look forward to hearing from you! 
             </p>
             <h4>
              OR Email us here
             </h4>
             <p class="parTxt"> 
              <!-- <i class="far fa-envelope"></i>  -->
              <i class="fad fa-envelope"></i>
              email2010@test.com</p>
             <p class="parTxt">
              <!-- <i class="fas fa-phone-alt"></i>  
              <i class="fad fa-mobile"></i>-->
              <i class="fad fa-mobile-alt mobileIcon"></i>
              012345879787</p>
        </div>
        <div class="col-md-6">
        
        <form class="form" >
            <input id="contactAuthor" type="text" placeholder="Name" name="data[name]" value="" tabindex="1">
            <input id="contactEmail" type="email" placeholder="Email" name="data[email]" value="" tabindex="2">
            
            <textarea id="contactComment" placeholder="Message" name="data[message]" tabindex="4"></textarea>

            <input type="hidden" name="__form-name__" value="contact-form">
            <button class="btn " type="submit" value="Send" tabindex="100">
            <span>Send</span>
            </button>
            <input type="hidden" name="__unique_form_id__" value="eEA4HmLBWRZGQUz9Ppn7">  <input type="hidden" name="form-nonce" value="523a189e8ce8d17735a505e035d68792">
        </form>

        </div>

      </div>
  </section>
  
  <section class="LocationSec">
     <div class="row titlePart">
       <div class="col-md-3">
        <h1 class="locationtxt">LOCATIONS </h1>
       </div>
       <div class="col-md-1"></div>
       <div class="col-md-4 addressDiv">
           <h1> Cairo</h1>
           <p>36 El-Shaheed Hany Abd El-Wahab St. <br> Berket an Nasr, Al Salam First</p>
           <p>Cairo , Egypt .</p>
       </div>
     </div>
  </section>
</div>


<section class="mapSec">

  <div class="earth3dmap-com">
    <iframe id="iframemap" src="https://maps.google.com/maps?q=30.144461274626156%2C+31.392010864466496&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
     width="100%" height="500" frameborder="0" scrolling="no">
    </iframe>
  </div>

   <h4> <small>&copy; Kyrmina 2021</small>  </h4>
</section>

<app-footer [footerPostion]="2"></app-footer>


