.FooterNav{
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 8;
    .footerDiv{
        background: transparent;
        width: 100%;
        text-align: end;
        display: flex;
        justify-content: flex-end;
        z-index: 5;
        padding: 2% 7%;
    }
    

    h3{
        font-family: "Krona One", sans-serif;
        color: rgba(255, 255, 255, 0.5);
        font-size: 11px;
        padding-right: 1%;
        width: 300px;
        margin: .3% 0% 0% 0%;
        span{
            color: white;
            font-size: 15px;
        }
    }
    .socialDiv{
       display: inline-flex;
        i{
            color: rgba(255, 255, 255, 0.5);
            font-size: 27px;
            margin: 0 29%;
        }
    }
}
::ng-deep{
    .rtl{
        .FooterNav{

            h3{
                font-family: 'Cairo' !important;
                span{
                    margin: 0% 3% !important;
                }
            }
          
        }
    }
}
@media only screen and (min-width: 1600px) {
    .FooterNav{
        h3{
            font-family: "Krona One", sans-serif;
            color: rgba(255, 255, 255, 0.5);
            font-size: 16px;
            padding-right: 1%;
    
            span{
                font-size: 19px;
            }
        }

        .socialDiv{
          i{
            color: rgba(255, 255, 255, 0.5);
            font-size: 30px;
            margin: 0 29%;
         }  
        }
        

    }
        

}