<div class="prodItem">

    <div class="headingDiv">
       <h1> Rubber Rollers</h1> 
    </div>
    <div class="HLineDiv"></div>
    
    <div class="ImgDiv">
        <img src="../../../../assets/about/home2.png" alt="">
    </div>

    <div class="HLineDiv"></div>

    <div class="textDiv">
        <h3>
            Seen you eyes son show. Far two
unaffected one alteration apartments
celebrated but middletons interested.
Procured shutters mr it feelings.
        </h3>
    </div>

    
</div>
<div class="noisy"></div>

<app-footer [footerPostion]="2"></app-footer>